In [1]:
import pandas as pd
from datetime import datetime as dt

In [66]:
# 수집 종목 코드 interation
stock_code = "117930"

In [104]:
# 시세 수집
page_max = 2 + 1
page = 1
url_daily_sise = "http://finance.daum.net/item/quote_yyyymmdd.daum?code=" + stock_code + "&page="+ str(page)
df = pd.read_html(url_daily_sise, header=0)[0]
df.columns = ['date','open','high','low','close','updown','rate','volume']
df['date']  = pd.to_datetime('20'+df['date'])
df[['date','open','high','low','close','volume']]
#df.set_index('date', inplace=True)
df

        date  open  high   low  close updown     rate    volume
0 2016-05-02  1945  2205  1925   2010   ▲110   +5.79%  16191560
1 2016-04-29  1825  1915  1775   1900    ▲65   +3.54%   5881044
2 2016-04-28  1910  1920  1835   1835    ▼65   -3.42%   5598265
3 2016-04-27  1945  1965  1875   1900     -0    0.00%   6565460
4 2016-04-26  1850  2050  1765   1900    ▲75   +4.11%  43224665
5 2016-04-25  2020  2035  1825   1825   ↓780  -29.94%  17297624
6 2016-04-22  2675  2710  2580   2605   ▼205   -7.30%   6368785
7 2016-04-21  3015  3075  2775   2810   ▼220   -7.26%   5514948
8 2016-04-20  3315  3355  2985   3030   ▼355  -10.49%   4402720
9 2016-04-19  3350  3400  3250   3385    ▲40   +1.20%   1411201

In [129]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import requests
import datetime, time
import pandas as pd
from pandas import DataFrame
import io
# user define package import
import sys
sys.path.append("/home/ubuntu/workspace/favis")
from msgbot.favisbot import favisbot
import util.krx_util as util

today = datetime.datetime.now().strftime('%Y%m%d')
print(today)

stock_name = '이미지스'
isu_cd, isu_srt_cd = util.getIsinCode(stock_name)
stock_code = isu_srt_cd

start = datetime.datetime(2016, 1, 1).strftime('%Y%m%d')
end = datetime.datetime(2016, 12, 31).strftime('%Y%m%d')

# STEP 01: Generate OTP
gen_otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'
gen_otp_data = {
    'name':'fileDown',
    'filetype':'xls',
    'url':'MKD/04/0402/04020100/mkd04020100t3_02',
    'isu_srt_cd':isu_srt_cd,
    'isu_cd':isu_cd,
    'fromdate':start,
    'todate':end
}
    
r = requests.post(gen_otp_url, gen_otp_data)
code = r.text

# STEP 02: download
down_url = 'http://file.krx.co.kr/download.jspx'
down_data = {
    'code': code,
}

r = requests.post(down_url, down_data).content

filename = isu_srt_cd + ".xls"
with open(filename, 'wb') as f:
    #f.write(r.content.decode('utf-8'))
    f.write(r)

#df = pd.read_csv(io.StringIO(r.decode("utf-8")), thousands=',', parse_dates=[0], usecols=[0, '종가','거래량(주)','시가','고가','저가'])
df = pd.read_excel(filename, thousands=',', usecols=[0, '종가','거래량(주)','시가','고가','저가', '시가총액(백만)','상장주식수(주)'])

df.columns = ['Date','Adj Close','Volume','Open','High','Low', 'marcap','amount']
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
 
df.head()

20160502

        Date  Adj Close  Volume  Open  High   Low  marcap   amount
0 2016-04-29       6920   69214  6850  6940  6770   53070  7669128
1 2016-04-28       6850  132287  7020  7080  6850   52534  7669128
2 2016-04-27       7030  100859  7100  7200  6970   53914  7669128
3 2016-04-26       7130  124746  7200  7270  7030   54681  7669128
4 2016-04-25       7160   90460  7140  7220  7040   54911  7669128

In [130]:
# 매매 동향 수집
page_max = 3 + 1
page = 2

url_daily_trading_trends = "http://finance.daum.net/item/foreign_yyyymmdd.daum?code=" + stock_code + "&page=1"
print(url_daily_trading_trends)
df1 = pd.read_html(url_daily_trading_trends)[0]
#df = pd.read_html(daily_sise_url, index_col=[0], parse_dates=True)
df1.columns = ['date','fi_amount','fi_rate','fi_volume','ii_volume','close','ratebyyest''rate','nan','nan','NAN']
df1['date']  = pd.to_datetime('20'+df1['date'])
#df1.set_index('date', inplace=True)
df1 = df1[['date','fi_amount','fi_volume','ii_volume']]
df1['stock_code'] = stock_code
df_m = df1
for i in range(page, page_max):
    url_daily_trading_trends = "http://finance.daum.net/item/foreign_yyyymmdd.daum?code=" + stock_code + "&page="+ str(i)
    print(url_daily_trading_trends)
    df1 = pd.read_html(url_daily_trading_trends)[0]
    #df = pd.read_html(daily_sise_url, index_col=[0], parse_dates=True)
    df1.columns = ['date','fi_amount','fi_rate','fi_volume','ii_volume','close','ratebyyest''rate','nan','nan','NAN']
    df1['date']  = pd.to_datetime('20'+df1['date'])
    #df1.set_index('date', inplace=True)
    df1 = df1[['fi_amount','fi_volume','ii_volume']]
    df1['stock_code'] = stock_code
    df_m.append(df1)

result = pd.concat([df, df_m], axis=1)
result

http://finance.daum.net/item/foreign_yyyymmdd.daum?code=A115610&page=1
http://finance.daum.net/item/foreign_yyyymmdd.daum?code=A115610&page=2
http://finance.daum.net/item/foreign_yyyymmdd.daum?code=A115610&page=3

,Date,Adj Close,Volume,Open,High,Low,marcap,amount,date,fi_amount,fi_volume,ii_volume,stock_code
0,2016-04-29,6920,69214,6850,6940,6770,53070,7669128,2016-05-02,175231.0,-7361,0.0,A115610
1,2016-04-28,6850,132287,7020,7080,6850,52534,7669128,2016-04-29,182592.0,"+2,106",0.0,A115610
2,2016-04-27,7030,100859,7100,7200,6970,53914,7669128,2016-04-28,180486.0,"+7,131",0.0,A115610
3,2016-04-26,7130,124746,7200,7270,7030,54681,7669128,2016-04-27,173355.0,-952,0.0,A115610
4,2016-04-25,7160,90460,7140,7220,7040,54911,7669128,2016-04-26,174307.0,-2920,0.0,A115610
5,2016-04-22,7140,62004,7150,7150,7040,54758,7669128,2016-04-25,177227.0,"+3,797",0.0,A115610
6,2016-04-21,7120,165559,6890,7130,6860,54604,7669128,2016-04-22,173430.0,"+2,290",0.0,A115610
7,2016-04-20,6890,53591,6880,6940,6830,52840,7669128,2016-04-21,171140.0,"+13,138",0.0,A115610
8,2016-04-19,6830,70498,6830,6880,6710,52380,7669128,2016-04-20,158002.0,"+3,288",0.0,A115610
9,2016-04-18,6770,127532,6900,6900,6690,51920,7669128,2016-04-19,154714.0,"+4,694",0.0,A115610
10,2016-04-15,6860,59928,6810,6950,6780,52610,7669128,2016-04-18,150020.0,-5744,0.0,A115610
11,2016-04-14,6830,173790,7040,7080,6820,52380,7669128,2016-04-15,155764.0,"+8,140",0.0,A115610
12,2016-04-12,7080,128104,7230,7300,7070,54297,7669128,2016-04-14,147624.0,-4206,0.0,A115610
13,2016-04-11,7240,168247,7110,7290,7070,55524,7669128,2016-04-12,151830.0,-2191,0.0,A115610
14,2016-04-08,7160,156365,7050,7170,7010,54911,7669128,2016-04-11,154021.0,"+5,802",0.0,A115610
15,2016-04-07,7060,108117,7120,7120,6980,54144,7669128,2016-04-08,148219.0,"+11,130",0.0,A115610
16,2016-04-06,7120,215483,6900,7150,6900,54604,7669128,2016-04-07,137089.0,-11593,0.0,A115610
17,2016-04-05,6910,66544,6860,6940,6830,52994,7669128,2016-04-06,148682.0,"+20,502",0.0,A115610
18,2016-04-04,6890,54936,6830,6900,6800,52840,7669128,2016-04-05,128180.0,-2217,0.0,A115610
19,2016-04-01,6820,81141,6900,6940,6780,52303,7669128,2016-04-04,130397.0,"+2,570",0.0,A115610
20,2016-03-31,6860,52978,6850,6980,6780,52610,7669128,2016-04-01,127827.0,-12252,0.0,A115610
21,2016-03-30,6850,97053,6800,7020,6790,52534,7669128,2016-03-31,140079.0,"+4,884",0.0,A115610
22,2016-03-29,6780,61741,6730,6850,6650,51997,7669128,2016-03-30,135195.0,-31,0.0,A115610
23,2016-03-28,6730,107436,6860,6930,6690,51613,7669128,2016-03-29,135226.0,"+16,715",0.0,A115610
24,2016-03-25,6850,93805,6830,6950,6830,52534,7669128,2016-03-28,118511.0,"+1,713",0.0,A115610
25,2016-03-24,6830,144477,7010,7070,6830,52380,7669128,2016-03-25,116798.0,"+3,018",0.0,A115610
26,2016-03-23,7000,206598,7100,7260,7000,53684,7669128,2016-03-24,113780.0,"+2,989",0.0,A115610
27,2016-03-22,7100,110330,7160,7180,6960,54451,7669128,2016-03-23,110791.0,"+9,987",0.0,A115610
28,2016-03-21,7070,147413,7150,7210,6980,54221,7669128,2016-03-22,100804.0,+988,0.0,A115610
29,2016-03-18,7140,151938,6960,7160,6920,54758,7669128,2016-03-21,99816.0,-18364,0.0,A115610
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,2016-02-17,6370,89850,6500,6520,6340,48852,7669128,NaT,NaN,NaN,NaN,NaN
51,2016-02-16,6420,141973,6130,6460,6130,49236,7669128,NaT,NaN,NaN,NaN,NaN
52,2016-02-15,6120,220698,5950,6370,5950,46935,7669128,NaT,NaN,NaN,NaN,NaN
53,2016-02-12,5930,413166,6260,6400,5790,45478,7669128,NaT,NaN,NaN,NaN,NaN
54,2016-02-11,6440,285024,6520,6800,6420,49389,7669128,NaT,NaN,NaN,NaN,NaN
55,2016-02-05,6700,707557,6650,7440,6650,51383,7669128,NaT,NaN,NaN,NaN,NaN
56,2016-02-04,6670,389284,6890,6940,6580,51153,7669128,NaT,NaN,NaN,NaN,NaN
57,2016-02-03,6890,1426155,7360,7800,6890,52840,7669128,NaT,NaN,NaN,NaN,NaN
58,2016-02-02,7340,235125,7140,7380,7050,56291,7669128,NaT,NaN,NaN,NaN,NaN
59,2016-02-01,7140,171307,7050,7250,6960,54758,7669128,NaT,NaN,NaN,NaN,NaN
60,2016-01-29,7000,102205,7050,7100,6890,53684,7669128,NaT,NaN,NaN,NaN,NaN
61,2016-01-28,7050,169172,6830,7180,6830,54067,7669128,NaT,NaN,NaN,NaN,NaN
62,2016-01-27,6980,260814,7180,7310,6880,53531,7669128,NaT,NaN,NaN,NaN,NaN
63,2016-01-26,7190,340005,7300,7650,7090,55141,7669128,NaT,NaN,NaN,NaN,NaN
64,2016-01-25,7250,284148,7200,7420,7070,55601,7669128,NaT,NaN,NaN,NaN,NaN
65,2016-01-22,7240,312549,6870,7260,6770,55524,7669128,NaT,NaN,NaN,NaN,NaN
66,2016-01-21,6780,179287,6760,6990,6540,51997,7669128,NaT,NaN,NaN,NaN,NaN
67,2016-01-20,6820,243522,7070,7070,6520,52303,7669128,NaT,NaN,NaN,NaN,NaN
68,2016-01-19,6980,544685,7120,7560,6900,53531,7669128,NaT,NaN,NaN,NaN,NaN
69,2016-01-18,7140,376405,6570,7140,6560,54758,7669128,NaT,NaN,NaN,NaN,NaN
70,2016-01-15,6740,472290,6870,7120,6680,51690,7669128,NaT,NaN,NaN,NaN,NaN
71,2016-01-14,6770,402766,6400,6800,6350,51920,7669128,NaT,NaN,NaN,NaN,NaN
72,2016-01-13,6590,703963,6390,6770,6330,50540,7669128,NaT,NaN,NaN,NaN,NaN
73,2016-01-12,6310,727049,6430,6650,6310,48392,7669128,NaT,NaN,NaN,NaN,NaN
74,2016-01-11,6460,4307336,6910,8350,6450,49543,7669128,NaT,NaN,NaN,NaN,NaN
75,2016-01-08,6430,267409,6100,6480,5810,49312,7669128,NaT,NaN,NaN,NaN,NaN
76,2016-01-07,6220,89832,6100,6310,6070,47702,7669128,NaT,NaN,NaN,NaN,NaN
77,2016-01-06,6190,230685,6310,6500,6010,47472,7669128,NaT,NaN,NaN,NaN,NaN
78,2016-01-05,6290,94846,6200,6320,6140,48239,7669128,NaT,NaN,NaN,NaN,NaN
79,2016-01-04,6300,126244,6400,6490,6240,48316,7669128,NaT,NaN,NaN,NaN,NaN