# SQLite 03 - Query 연습

In [4]:
%matplotlib inline
from IPython.display import display, Image

In [5]:
import pandas as pd
import sqlite3

con = sqlite3.connect('findb.db')

In [6]:
df = pd.read_sql_query(
    'SELECT *'
    'FROM master '
    'ORDER BY -marcap ' 
    'LIMIT 5', con)

display( df.columns )
display( len(df) )

Index(['name', 'market', 'code', 'sector', 'sector_wics', 'name_en', 'desc',
       'desc_date', 'corp_type', 'marcap', 'marcap_pct', 'update_date'],
      dtype='object')

5

In [7]:
df.head()

,name,market,code,sector,sector_wics,name_en,desc,desc_date,corp_type,marcap,marcap_pct,update_date
0,삼성전자,KOSPI,005930,전기전자,반도체와반도체장비,Samsung Electronics,"본사를 거점으로 한국 및 CE, IM 부문 산하 해외 9개 지역총괄과 DS 부문 산...",2015-11-19,,1668297.38,11.80,2016-01-31
1,한국전력,KOSPI,015760,전기가스,전기유틸리티,KEPCO,"동사는 전력자원의 개발, 발전,송전,변전,배전 및 이와 관련되는 영업, 연구 및 기...",2015-12-11,,337673.10,2.39,2016-01-31
2,현대차,KOSPI,005380,운수장비,자동차,Hyundai Motor,동사는 자동차 및 자동차부품을 제조 및 판매하는 국내 1위의 완성차 제조업체임. 공...,2015-10-08,,292967.72,2.07,2016-01-31
3,삼성물산,KOSPI,028260,유통업,복합기업,Samsung C&T Corporation,"1963년 설립되었으며 건설업, 급식/식자재 유통사업, 에버랜드 운영 등 레저사업,...",2015-10-01,,282638.16,2.00,2016-01-31
4,현대모비스,KOSPI,012330,운수장비,자동차부품,Hyundai Mobis,"동사와 종속기업은 샤시모듈, 칵핏모듈, 프론트엔드모듈 등을 생산하여 계열사에 공급하...",2015-12-02,,251633.89,1.78,2016-01-31

In [8]:
df[['name', 'code', 'sector', 'marcap']]

    name    code sector      marcap
0   삼성전자  005930   전기전자  1668297.38
1   한국전력  015760   전기가스   337673.10
2    현대차  005380   운수장비   292967.72
3   삼성물산  028260    유통업   282638.16
4  현대모비스  012330   운수장비   251633.89

In [9]:
df = pd.read_sql_query(
    'SELECT *'
    'FROM master ', con)

df_desc = df[['code', 'desc']]
df_desc = df_desc.set_index('code')
df_desc
df_desc.to_sql('stock_desc', con, index=True, if_exists='replace')

In [10]:
df = pd.read_sql(
    'SELECT *'
    'FROM stock_desc ', con, index_col='code' )

display(len(df))
display(df.head())

2150

                                                     desc
code
060310  동사는 1991년 설립되어 2002년 코스닥시장에 상장. 반도체웨이퍼 캐리어박스와 ...
095570  2000년 2월 설립되었으며 2013년 12월 지배회사인 아주엘앤에프홀딩스(주)를 ...
068400  동사는 1988년 브이아이피렌터카로 설립되어 자동차대여, 자동차운송 및 자동차정비사...
006840  동사는 2012년 인적 분할을 통해 지주회사로 전환되었으며, 2014년 12월 애경...
054620  동사는 1994년 9월 15일 반도체장비, LCD장비, 컨트롤 기기와 소프트웨어 제...

```sql
sqlite> .schema

CREATE TABLE "master" (
"name" TEXT,
  "market" TEXT,
  "code" TEXT,
  "sector" TEXT,
  "sector_wics" TEXT,
  "name_en" TEXT,
  "desc" TEXT,
  "desc_date" TEXT,
  "corp_type" TEXT,
  "marcap" INTEGER,
  "marcap_pct" REAL,
  "update_date" TEXT
);

CREATE TABLE "stock_desc" (
"code" TEXT,
  "desc" TEXT
);

CREATE INDEX "ix_stock_desc_code"ON "stock_desc" ("code");
```

In [11]:
df_ks = pd.read_sql(
    'SELECT market, code, name, sector '
    'FROM master '
    'WHERE market="KOSPI" '
    'ORDER BY -marcap ' 
    'LIMIT 5', con)

display(len(df_ks))
display(df_ks)

5

  market    code   name sector
0  KOSPI  005930   삼성전자   전기전자
1  KOSPI  015760   한국전력   전기가스
2  KOSPI  005380    현대차   운수장비
3  KOSPI  028260   삼성물산    유통업
4  KOSPI  012330  현대모비스   운수장비

In [12]:
df_kq = pd.read_sql(
    'SELECT market, code, name, sector '
    'FROM master '
    'WHERE market="KOSDAQ" '
    'ORDER BY -marcap ' 
    'LIMIT 5', con)

display(len(df_ks))
display(df_ks)

5

  market    code   name sector
0  KOSPI  005930   삼성전자   전기전자
1  KOSPI  015760   한국전력   전기가스
2  KOSPI  005380    현대차   운수장비
3  KOSPI  028260   삼성물산    유통업
4  KOSPI  012330  현대모비스   운수장비